<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>ConversationalFlowsTicket</Name>
    <Type>Chatbot</Type>
    <ClassName />
    <AllowMultiple>true</AllowMultiple>
    <Properties>
      <Property>
        <Name>Provider</Name>
        <Value>None</Value>
      </Property>
      <Property>
        <Name>BaseModule</Name>
        <Value>ConversationalFlowsTicketChatbot</Value>
      </Property>
    </Properties>
  </Service>
</Services>